/* You can add global styles to this file, and also import other style files */
.body {
  padding: 10px;
}
h1{
  font-family: "Arabic Typesetting", serif;
  font-size: 30px;
}
.map-wrapper{
  top: 3cm;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  height: 14cm;

}
.map-border{
  border: 2px solid darkred;
  height: 100%;
}

#map{
  height : 100%;
  width : 100%;
}


.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
p-carousel{
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}
