<html>
<head>
    <meta charset="utf-8"/>
    <title>search POI</title>
    <meta
            name="viewport"
            content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js"></script>
    <script src="/src/assets/maps/leaflet-control/geojson-data.json"></script>
    <script src="/assets/maps/leaflet-control/icon-provider.js"></script>
</head>

<body>
<!--<p-carousel [value]="pointInteretList" [numVisible]="3" [numScroll]="3">
  <ng-template let-pid pTemplate="item">
    <span>pid</span>
  </ng-template>
</p-carousel>-->
<div class="carousel">
<p-carousel [value]="pointInteretList" [numVisible]="5" [numScroll]="3" [circular]="false">
  <ng-template let-pid pTemplate="item">
    <div> <span>{{pid}}</span>
      <img src="../assets/icons/school.png"/>
      <img src="../assets/icons/sports.png"/>
      <img src="../assets/icons/transportation.png"/>
      <img src="../assets/icons/restaurant.png"/>
      <img src="../assets/icons/shopping.png"/>
      <img src="../assets/icons/foundation.png"/>
      <img src="../assets/icons/hotel.png"/>
      <img src="../assets/icons/health.png"/>
    </div>
  </ng-template>
</p-carousel>
</div>
<mat-form-field appearance="fill">
    <mat-label>Points d'intérêt</mat-label>
<!--  <i class="material-icons">face</i>-->
    <mat-select [formControl]="pointInteretCtrl" multiple [(value)]="pointInteretSelectionnes" (selectionChange)="dessinerMarker($event)">
        <mat-option *ngFor="let pi of pointInteretList" [value]="pi">{{pi}}</mat-option>
    </mat-select>
</mat-form-field>
{{pointInteretSelectionnes}}
<div class="map-wrapper">
    <div class="map-border">
        <div id="map"></div>
    </div>
</div>
</body>

</html>
