<!-- header -->
<div class="navbar is-dark">
  <div class="navbar-brand">
    <img class="logo" src="assets/pic/Logo.png" alt="Smart Mapper Logo">
    <a class="navbar-item"></a>
  </div>
  <div class="navbar-menu ">
  <div class="navbar-end">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/rechercheAdresse">Recherche Point d'intérêt</a>
      <a class="navbar-item" routerLink="/localisation">Itineraire</a>
      <a class="navbar-item" routerLink="/connexion"> <button type="button" class="btn btn-outline-success">Se connecter</button></a>
      <a class="navbar-item" routerLink="/inscription"> <button type="button" class="btn btn-outline-danger">S'inscrire</button></a>
    </div>
  </div>
</div>
</div>
<br>
