/* You can add global styles to this file, and also import other style files */
.map-wrapper{
  top: 3cm;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  height: 14cm;
}
.map-border{
  border: 5px solid darkred;
  height: 100%;
}
#map{
  height: 100%;
  background-position: center center;

}
