/* You can add global styles to this file, and also import other style files */
.body {
  padding: 10px;
}
h1{
  font-family: "Arabic Typesetting", serif;
  font-size: 30px;
}
.map-wrapper{
  top: 3cm;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
  height: 14cm;
}
.map-border{
  border: 5px solid darkred;
  height: 100%;
}
#map{
  height: 100%;

  background-position: center center;
}
.container{
  margin: auto;
  width: 30%;
  border: 3px solid brown;
  padding: 10px;
}


