/* You can add global styles to this file, and also import other style files */
.body {
  padding: 10px;
}
h1{
  font-family: "Arabic Typesetting", serif;
  font-size: 30px;
}
.map-wrapper{
  top: 3cm;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  height: 14cm;
  width: 22cm;
}
.map-border{
  border: 5px solid darkred;
  height: 100%;
}
#map{
  height: 100%;
  background-position: center center;
}

.col3{
  height: 19cm;
  width: 22cm;
  padding-left: 20px;
}

.col6{
  height: 9.5cm;
  width: 13cm;

}




